<h1><%= @post.title %></h1>

<!-- Add code here to link to the post's category. -->
<h3>Category: <%= link_to @post.category.name, category_path(@post.category) if @post.category %></h3>
<!--add conditional (if @..) to ensure  view doesn't try to call @post.category.name if the post has not been associated with a category. -->

<p><%= @post.description %></p>
